<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
<!--    Hello World-->
<br/>

    <div>
        <a href="./ips">IP</a>
        <a href="./domains">DOMAIN</a>
        <a href="./urls">URL</a>
    </div>
<br/> <br/>


    <div>
        <form action="/form" method="POST" >

<!--            <label for="type" id="search">Search : </label>-->

            <select name="select" id="type">
                <option value="ip">IP</option>
                <option value="uri">URL</option>
                <option value="domain">DOMAIN</option>
            </select>

            <input type="text" name="input" required id="input">
            <input  type="submit" value="Submit" id="submit">

        </form>
    </div>



</body>

</html>