<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!--    Hello World-->

    <div>
        <a href="./json">JSON</a>
        <a href="./xml">XML</a>
    </div>

<!--    <div>-->
<!--        <form action="/pathto" th:method="POST">-->
<!--            <input type="date" name="date" > <br>-->
<!--            <input type="radio" name="radio" id="r1" value="r1"> w/ date-->
<!--            <input type="radio" name="radio" id="r2" value="r2"> w/o date-->
<!--            <input type="submit" name="submit" value="Submit">-->
<!--        </form>-->

<!--    </div>-->

</body>

</html>